<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node Express MongoDB JWT - Developed By Dina pal</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">NEMJ - Development</a></h1>
    <ul>
      <li>
        <% if(user){ %> 
          Welcome, 
          <% if(user.name){ %> 
          <%= user.name %>
        <% }else{ %> 
          <%= user.email %>
        <% } } %> 
      </li>
      <% if(user){ %> 
        <li><a href="/logout">logout</a></li>
      <% }else{ %> 
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
      <% } %> 
    </ul>
  </nav>
  